<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <div id="application">
            <h1>Привет!</h1>
            <nav id="navigation">
                <% if (currentUser.id){%>
                <input type="button" value="Профиль" data-section="Profile">
                <input type="button" value="О приложении" data-section="about">
                <input type="button" value="my crooks" data-section="mycrooks">
                <% if (currentUser.hr==1){%>
                    <input type="button" value="Новый пользователь" data-section="newcrook">
                <%}%>
                <form method="GET" action="/logout" id="logout-form">
                    <input type="submit" value="Выйти">
                </form>
                <%}%>
            </nav>
            <% if (currentUser.id==undefined){%>
            <section id="login">
                <form method="POST" action="/login" id="login-form">
                    <h2>Вход</h2>
                    <input type="text" placeholder="Введите имя" name="username"><br>
                    <input type="password" placeholder="Введите пароль" name="password"><br>
                    <input type="submit" value="Войти" id="login-button">
                </form>
            </section>
            <%}%>
            <section id="mycrooks" hidden>
                <% if ((currentUser.boss==1)||(currentUser.hr==1)){%>
                    <p>My crooks are here</p>
                    <% for(var i=0; i<myCrooks.length; i++) {%>
                        <button onclick="openEdit(event)"><%= myCrooks[i].name %></button>
                    <%}%>
                <%}%>
            </section>
            <section id="Profile" hidden>
                <h2>Меня зовут <span>
                    <% if (currentUser.id!==undefined){%><%=currentUser.name%><%}%></span></h2>
                <h2>Я люблю кино</h2>
                <p><%=currentUser.id%></p>
            </section>
            <section id="about" hidden>
                <h2>Это приложение</h2>
            </section>
            <section id="Edit" hidden>
                <p>Edit here</p>
                <form action="/main">
                    <input type="submit" onclick="closeEdit()" value="edit" id="edit-button">
                </form>
            </section>
            <section id="newcrook" hidden>
                <form method="POST" action="/newuser" id="login-form">
                    <input type="text" name="login"><br>
                    <input type="password" name="password"><br>
                    <input type="text" name="name" placeholder="Ведите имя"><br>
                    <input type="text" name="last_name" placeholder="Введите фамилию"><br>
                    <input type="text" name="patronimic" placeholder="Введите отчество"><br>
                    <p>Выбирите руководтеля</p>
                    <select name="boss_id">
                        <% for(var i=0; i<bosses.length; i++) {%>
                            <option value="<%=bosses[i].id%>"><%=bosses[i].name%></option>
                        <%}%>
                    </select>
                    <input type="submit" value="Создать пользователя">
                </form>
            </section>
        </div>
        <script>

            const nav = document.getElementById('navigation')

            const application = document.getElementById('application')
            const liveSectionsCollection = application.getElementsByTagName('section')

            nav.addEventListener('click', function(event){
                window.me=1
                console.log(event.target)
                const sectionId = event.target.getAttribute('data-section')
                console.log(sectionId)
                console.log(liveSectionsCollection)
                const liveSectionsArray = Array.from(liveSectionsCollection)
                liveSectionsArray.forEach(function (sectionElement){
                sectionElement.hidden = true
                if(sectionElement.id === sectionId){
                    sectionElement.hidden = false
                }
                })
            })

            function openEdit(event){
                document.getElementById("mycrooks").hidden=true
                document.getElementById("Edit").hidden=false
                console.log(event.target)
            }

            function closeEdit(){
                document.getElementById("Edit").hidden=true
            }

            
        </script>
    </body>
</html>